#root{
    overflow-x: hidden;
    background-color: rgb(33,37,41);

}
.jumbo-weather{
    width: 100px;
}
.card-weather{
    width: 20px;
}
.location-icon{
    width: 20px;
}

.card-array::-webkit-scrollbar {
    display: none;
}

.card-array {
    -ms-overflow-style: none;
    scrollbar-width: none;
}